body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 220px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: orange;
}

p {
    margin-top: 20px;
    font-size: 18px;
}